<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unko Sansar</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-cyan-50">
    <div class="text-center mt-10 text-3xl font-serif" >Unko Sansar</div>
    <div class="flex w-auto h-auto gap-35 ml-30 mt-20 ">
        <div class="bg-cyan-900 w-120 h-100 rounded-md ">
            left
        </div>
        <div class="bg-cyan-500 w-100 h-100 rounded-md">
            ight
        </div>
    </div>    
</body>
</html>