<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unko Sansar</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body >
    
    <nav class="bg-cyan-900 w-full h-12 flex justify-around"> 
        <div class="text-xl font-serif text-cyan-100 px-5 py-3 ">
         Unko Sansar
        </div>
        <div class="text-sm font-mono text-white px-5 py-3 ">
         <a href="">Home</a>
        </div>
        <div class="text-sm font-mono text-white px-5 py-3 ">
         <a href="">Order</a>
        </div>
        <div class="text-sm font-mono text-white px-5 py-3 ">
         <a href="">Contact</a>
        </div>
        <div class="flex gap-7">
            <a class="px-10 py-2" href="#"><img class="w-8 h-7 rounded-md bg-cyan-700" src="/images/cart.png" alt=""></a>
            <a class="py-2" href="#"><img class="w-6 h-6" src="/images/insta.png" alt=""></a>
            <a class="py-2" href="#"><img class="w-9 h-5" src="/images/fb.png" alt=""></a>
        </div>
    </nav>
    <div class="w-full ">
        <img src="/images/banner.png" alt="">
    </div>
</body>
</html>